In [45]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [46]:
data = pd.read_csv(r"C:\Users\HP LAPTOP\Desktop\PremierLeagueMatches.csv")
data

,Matchday,Date,Time,Home Team,homeScore,homeXG,awayScore,awayXG,Away Team,Attendance,Referee,Stadium,Result,*Additional Stats
0,1,2022-08-05,20:00,Crystal Palace,0.0,1.2,2.0,1.0,Arsenal,"25,286",Anthony Taylor,Selhurst Park,A,https://fbref.com//en/matches/e62f6e78/Crystal...
1,1,2022-08-06,12:30,Fulham,2.0,1.2,2.0,1.2,Liverpool,"22,207",Andy Madley,Craven Cottage,D,https://fbref.com//en/matches/6713c1dc/Fulham-...
2,1,2022-08-06,15:00,Tottenham,4.0,1.5,1.0,0.5,Southampton,"61,732",Andre Marriner,Tottenham Hotspur Stadium,H,https://fbref.com//en/matches/09d8a999/Tottenh...
3,1,2022-08-06,15:00,Newcastle Utd,2.0,1.7,0.0,0.3,Nott'ham Forest,"52,245",Simon Hooper,St James' Park,H,https://fbref.com//en/matches/1ac96eb4/Newcast...
4,1,2022-08-06,15:00,Leeds United,2.0,0.8,1.0,1.3,Wolves,"36,347",Robert Jones,Elland Road,H,https://fbref.com//en/matches/82702941/Leeds-U...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,38,2025-05-25,16:00,Fulham,NaN,NaN,NaN,NaN,Manchester City,NaN,NaN,Craven Cottage,NaN,NaN
1136,38,2025-05-25,16:00,Nott'ham Forest,NaN,NaN,NaN,NaN,Chelsea,NaN,NaN,The City Ground,NaN,NaN
1137,38,2025-05-25,16:00,Manchester Utd,NaN,NaN,NaN,NaN,Aston Villa,NaN,NaN,Old Trafford,NaN,NaN
1138,38,2025-05-25,16:00,Wolves,NaN,NaN,NaN,NaN,Brentford,NaN,NaN,Molineux Stadium,NaN,NaN
1139,38,2025-05-25,16:00,Tottenham,NaN,NaN,NaN,NaN,Brighton,NaN,NaN,Tottenham Hotspur Stadium,NaN,NaN

<b>data exploration</b>

In [47]:
print(f"number of rows: {data.shape[0]}\nnumber of columns: {data.shape[1]}")

number of rows: 1140
number of columns: 14

In [48]:
data.head(3)

,Matchday,Date,Time,Home Team,homeScore,homeXG,awayScore,awayXG,Away Team,Attendance,Referee,Stadium,Result,*Additional Stats
0,1,2022-08-05,20:00,Crystal Palace,0.0,1.2,2.0,1.0,Arsenal,"25,286",Anthony Taylor,Selhurst Park,A,https://fbref.com//en/matches/e62f6e78/Crystal...
1,1,2022-08-06,12:30,Fulham,2.0,1.2,2.0,1.2,Liverpool,"22,207",Andy Madley,Craven Cottage,D,https://fbref.com//en/matches/6713c1dc/Fulham-...
2,1,2022-08-06,15:00,Tottenham,4.0,1.5,1.0,0.5,Southampton,"61,732",Andre Marriner,Tottenham Hotspur Stadium,H,https://fbref.com//en/matches/09d8a999/Tottenh...

In [49]:
data.tail(3)

,Matchday,Date,Time,Home Team,homeScore,homeXG,awayScore,awayXG,Away Team,Attendance,Referee,Stadium,Result,*Additional Stats
1137,38,2025-05-25,16:00,Manchester Utd,NaN,NaN,NaN,NaN,Aston Villa,NaN,NaN,Old Trafford,NaN,NaN
1138,38,2025-05-25,16:00,Wolves,NaN,NaN,NaN,NaN,Brentford,NaN,NaN,Molineux Stadium,NaN,NaN
1139,38,2025-05-25,16:00,Tottenham,NaN,NaN,NaN,NaN,Brighton,NaN,NaN,Tottenham Hotspur Stadium,NaN,NaN

In [50]:
data.describe()

          Matchday    homeScore       homeXG    awayScore       awayXG
count  1140.000000  1049.000000  1049.000000  1049.000000  1049.000000
mean     19.500000     1.660629     1.626787     1.383222     1.316206
std      10.970669     1.364484     0.878962     1.237897     0.781492
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%      10.000000     1.000000     1.000000     0.000000     0.800000
50%      19.500000     1.000000     1.500000     1.000000     1.200000
75%      29.000000     2.000000     2.200000     2.000000     1.700000
max      38.000000     9.000000     7.000000     8.000000     5.600000

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Matchday           1140 non-null   int64
 1   Date               1140 non-null   object
 2   Time               1140 non-null   object
 3   Home Team          1140 non-null   object
 4   homeScore          1049 non-null   float64
 5   homeXG             1049 non-null   float64
 6   awayScore          1049 non-null   float64
 7   awayXG             1049 non-null   float64
 8   Away Team          1140 non-null   object
 9   Attendance         1045 non-null   object
 10  Referee            1049 non-null   object
 11  Stadium            1140 non-null   object
 12  Result             1049 non-null   object
 13  *Additional Stats  1049 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 124.8+ KB

In [52]:
data.isnull().sum()

Matchday              0
Date                  0
Time                  0
Home Team             0
homeScore            91
homeXG               91
awayScore            91
awayXG               91
Away Team             0
Attendance           95
Referee              91
Stadium               0
Result               91
*Additional Stats    91
dtype: int64

In [53]:
data.nunique()

Matchday               38
Date                  337
Time                   21
Home Team              24
homeScore               9
homeXG                 48
awayScore               8
awayXG                 45
Away Team              24
Attendance            956
Referee                29
Stadium                27
Result                  3
*Additional Stats    1049
dtype: int64

<b> data preprocessing</b>

In [54]:
#data.drop('Matchday', axis = 1 , inplace = True)
#data.drop('Date', axis = 1 , inplace = True)
#data.drop('Time', axis = 1 , inplace = True)
#data.drop('Referee', axis = 1 , inplace = True)
#data.drop('Stadium', axis = 1 , inplace = True)
#data.drop('Attendance', axis = 1 , inplace = True)
data.drop('*Additional Stats', axis = 1 , inplace = True)

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Matchday    1140 non-null   int64
 1   Date        1140 non-null   object
 2   Time        1140 non-null   object
 3   Home Team   1140 non-null   object
 4   homeScore   1049 non-null   float64
 5   homeXG      1049 non-null   float64
 6   awayScore   1049 non-null   float64
 7   awayXG      1049 non-null   float64
 8   Away Team   1140 non-null   object
 9   Attendance  1045 non-null   object
 10  Referee     1049 non-null   object
 11  Stadium     1140 non-null   object
 12  Result      1049 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 115.9+ KB

In [56]:
data.isnull().sum()

Matchday       0
Date           0
Time           0
Home Team      0
homeScore     91
homeXG        91
awayScore     91
awayXG        91
Away Team      0
Attendance    95
Referee       91
Stadium        0
Result        91
dtype: int64

In [58]:
# def floattoint(x):
#     for i  in x:
#         data[i] = data[i].astype('int64') 
# x = ['homeScore','homeXG', 'awayScore', 'awayXG']
# floattoint(x)
# data.info()

In [ ]:
def encode(df, cols):
    for col in cols:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
    return df

x = ['Home Team', 'Away Team', 'Result']
data = encode(data, x)

In [ ]:
def fillna(x):
    for i in x:
        data[i] = data[i].fillna(data[i].median())
columns = ["homeScore",'homeXG','awayScore','awayXG','Result']
fillna(columns)

In [ ]:
data.isnull().sum()

Home Team    0
homeScore    0
homeXG       0
awayScore    0
awayXG       0
Away Team    0
Result       0
dtype: int64